.content {
  font-family: "Inter", sans-serif;
}

/* Home */
.header-home {
    text-align: center;
    margin-top: 5rem; 
}

.header-home-h1 {
    font-size: 3rem
}

.header-home-subtitle {
    font-size: 1.3rem;
    color: #747474ff;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* cor padrão (modo claro) */
.update-item {
  border-bottom: 1px solid #E5E7EB;
}

/* modo escuro */
.dark .update-item {
  border-bottom: 1px solid #404040;
}

.update-item:hover {
  background-color: #F9FAFB;
}

.dark .update-item:hover {
  background-color: #171717;
}

.update-item-kinds {
    color: #707070;
    font-weight: 500;
    font-size: 0.8rem;
}

.update-item-date {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 0.9rem;
}

.update-item-title {
    font-weight: 400;
}


/* Páginas */
.header-pages {
    text-align: center;
    margin-top: 2rem;

}

.header-pages-h1 {
    font-size: 3rem;
    font-weight: 600;
}

.header-pages-subtitle {
    font-size: 1.3rem;
    font-weight: 400;
    color: #747474ff;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pages-h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
    font-weight: 600;
}

.blog-post-item {
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.blog-post-item:hover {
    background-color: #F9FAFB;
}

.dark .blog-post-item {
    border-bottom: 1px solid #404040;
}

.dark .blog-post-item:hover {
    background-color: #171717;
}

.blog-post-item-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.blog-post-item-summary {
    color: #707070;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.blog-post-item-kind {
    color: #707070;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.blog-post-item-date {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 0.9rem;
}

.blog-header-title {
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 2rem;
}

.dark .blog-header-title {
    border-bottom: 1px solid #404040;
}
